@use "_utils" as *;

.operationsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 10px 20px;
  border-bottom: 0.6px solid rgb(214, 214, 214);

  .operationsContent {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      margin: 0;
      max-width: 70%;
    }

    .timeLabel {
      background-color: $success-color;
      font-size: 0.6rem;
      color: white;
      padding: 2px 4px;
      border-radius: 6px;
    }
  }

  .buttonGroup {
    display: flex;
    align-items: center;
    gap: 4px;
    .addTimeBtn {
      @extend %button;
      font-size: 0.7rem;
      color: $success-color;
      background-color: white;
      border: 1px solid $success-color;

      .icon {
        @extend .fa-solid;
        @extend .fa-clock;
        margin-left: 5px;
        color: $success-color;
      }

      &:hover {
        border: 1px solid $success-color;
        background-color: $success-color;
        color: white;

        .icon {
          color: white;
        }
      }
    }
    .trashButton {
      @include removeBtn;
    }
  }

  .timeInput {
    input {
      padding: 2px 5px;
      border: 0.5px solid #cccccc;
      border-radius: 4px 0 0 4px;
    }

    .saveBtn {
      @include miniBtn($success-color) {
        border-right: none;
        border-radius: 0;

        .icon {
          @extend .fa-solid;
          @extend .fa-floppy-disk;
        }
      }
    }

    .closeBtn {
      @include miniBtn(grey) {
        border-radius: 0 4px 4px 0;

        .icon {
          @extend .fa-solid;
          @extend .fa-xmark;
        }
      }
    }
  }
}

li:last-child .operationsItem {
  border-bottom: none;
}
