@use "_utils" as *;

.operations {
  background-color: #ffffff;

  .operationsForm {
    display: flex;
    padding: 15px 10px;
    width: 100%;
    flex-wrap: wrap;
    input {
      width: 90%;
      padding: 5px 5px;
      border: 0.5px solid #cccccc;
      border-radius: 4px 0 0 4px;
    }

    .addOperationBtn {
      @extend %button;
      background-color: $primary-color;
      padding: 5px 12px;
      border-radius: 0 4px 4px 0;

      span {
        @extend .fa-solid;
        @extend .fa-circle-plus;
        margin-left: 5px;
      }

      &:hover {
        border: 1px solid $primary-color;
        background-color: white;
        color: $primary-color;
      }
    }
  }

  .operationList {
    margin-top: 5px;
    max-width: 800px;
    gap: 0;
  }

  .formError {
    color: $warning-color;
    font-size: 0.7rem;
    margin: 5px;
  }
}
